@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background: rgb(245, 245, 245);
}

p {
    font-size: 14px;
}

@media screen and (min-width: 480px) {
    p {
        font-size: 16px;
    }
}